* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
  color: #2C2F2E;
  font-family: "openSans";
}

@font-face {
  font-family: "openSans";
  src: url("/src/OpenSans-VariableFont_wdth,wght.ttf");
}
html {
  min-height: 100vh;
  min-width: 100vw;
  font-size: 16px;
  font-family: "openSans";
  scroll-behavior: smooth;
}

@media (max-width: 360px) {
  html {
    width: 100vw;
    min-height: 100vh;
  }
}
body {
  min-width: inherit;
  background: #fff;
  position: relative;
  transition: all 200ms ease;
}

.hd {
  position: relative;
  padding-inline: 2%;
  min-height: 37.5rem;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "a a a a a" ". . c c c" "b b c c c" "b b c c c" "b b c c c" "b b c c c" "b b c c c" ". . c c c";
  grid-gap: 0.5rem;
}
.hd .nv {
  position: sticky;
  top: 0;
  z-index: 20;
  background: #fff;
  grid-area: a;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.hd .nv div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.hd .nv div button {
  color: #2C2F2E;
  font-weight: 600;
  min-width: 4.375rem;
  text-align: center;
}
.hd .nv label {
  display: none;
}
.hd .nv .navUlOne {
  z-index: 30;
  width: 60%;
}
.hd .nv .navUlOne button {
  min-width: min-content;
  height: 2.1875rem;
  color: #2C2F2E;
  border-radius: 0.625rem;
  border: 1px solid rgba(0, 0, 0, 0.102);
  padding: 4px 3px;
  background: transparent;
  transition: all 200ms ease;
  cursor: pointer;
  flex: 0.1 1 auto;
}
.hd .nv .navUlOne button:hover {
  color: #5BFFCA;
  background: #2C2F2E;
  border: 1px solid rgba(0, 0, 0, 0.102);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.102);
}
.hd .nv .navUlOne .logo {
  font-weight: 700;
  font-style: normal;
}
.hd .nv .navUlTwo {
  width: 20%;
}
.hd .nv .navUlTwo .log {
  min-width: min-content;
  height: 2.5rem;
  color: #2C2F2E;
  border-radius: 0.625rem;
  border: 1px solid rgba(0, 0, 0, 0.102);
  padding: 4px 3px;
  background: #5BFFCA;
  transition: all 200ms ease;
  cursor: pointer;
  flex: 0.3 1 auto;
}
.hd .nv .navUlTwo .log:hover {
  color: #5BFFCA;
  background: #2C2F2E;
  border: 1px solid rgba(0, 0, 0, 0.102);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.102);
}
.hd .nv .navUlTwo .sign {
  min-width: min-content;
  height: 2.5rem;
  color: #2C2F2E;
  border-radius: 0.625rem;
  border: 1px solid rgba(0, 0, 0, 0.102);
  padding: 4px 3px;
  background: transparent;
  transition: all 200ms ease;
  cursor: pointer;
  flex: 0.3 1 auto;
}
.hd .nv .navUlTwo .sign:hover {
  color: #5BFFCA;
  background: #2C2F2E;
  border: 1px solid rgba(0, 0, 0, 0.102);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.102);
}
.hd .intro {
  grid-area: b;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.hd .intro h1 span {
  color: #5BFFCAff;
}
.hd .intro div {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.hd .intro .getSt {
  min-width: 7.5rem;
  height: 2.5rem;
  color: #2C2F2E;
  border-radius: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.102);
  padding: 4px 3px;
  background: #5BFFCA;
  transition: all 200ms ease;
  cursor: pointer;
  font-family: "openSans";
}
.hd .intro .getSt:hover {
  color: #5BFFCA;
  background: #2C2F2E;
  border: 1px solid rgba(0, 0, 0, 0.102);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.102);
}
.hd .intro .rd {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.102);
  border-radius: 50%;
  background: orangered;
}
.hd .intro-img {
  grid-area: c;
  background: url("/img_ico/lookingAtPc.jpg") no-repeat border-box center/cover;
  border-radius: 6px;
  color: #2C2F2E;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". . ." ". . ." ". . a";
}
.hd .intro-img .grow {
  grid-area: a;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  transition: all 200ms ease;
}
.hd .intro-img .grow:hover {
  background: #2C2F2E;
}
.hd .intro-img .grow:hover p, .hd .intro-img .grow:hover h3 {
  color: #fff;
}
.hd .cil {
  display: none;
}

@media (max-width: 360px) {
  .nv label {
    display: block !important;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    background: #fff;
    z-index: 50;
  }
  .nv label span {
    display: block;
    height: 5px;
    width: 95%;
    margin: 15% auto 15% auto;
    background: #2C2F2E;
    border-radius: 15px;
    transition: all 200ms ease;
  }
  .nv label span:nth-child(1) {
    transform: scaleX(0.5) translateX(50%);
  }
  .nv label span:nth-child(3) {
    transform: scaleX(0.5) translateX(-50%);
  }
  .nv #mn:checked ~ label span {
    transform: none;
  }
  .nv #mn:checked ~ .navUlOne {
    transform: none;
  }
  .nv .navUlOne {
    display: flex;
    flex-flow: column wrap !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 18.75rem !important;
    min-height: 31.35rem;
    background: #fff;
    transition: all 200ms ease;
    transform: scale(0) translateX(-400px);
    border-radius: 5px;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.102);
  }
  .nv .navUlOne button {
    width: 50% !important;
    flex: 0 1 auto !important;
  }
  .nv .navUlTwo {
    width: 50% !important;
  }

  .intro {
    flex-wrap: nowrap !important;
    grid-row: 2/9 !important;
  }
  .intro div {
    width: 100% !important;
    display: flex;
    flex-flow: column wrap !important;
    justify-content: space-evenly !important;
    align-items: center;
  }
}
@media (width: 740px) {
  .nv label {
    display: block !important;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 50;
    cursor: pointer;
    background: #fff;
  }
  .nv label span {
    display: block;
    height: 5px;
    width: 95%;
    margin: 15% auto 15% auto;
    background: #2C2F2E;
    border-radius: 15px;
    transition: all 200ms ease;
  }
  .nv label span:nth-child(1) {
    transform: scaleX(0.5) translateX(50%);
  }
  .nv label span:nth-child(3) {
    transform: scaleX(0.5) translateX(-50%);
  }
  .nv #mn:checked ~ label span {
    transform: none;
  }
  .nv #mn:checked ~ .navUlOne {
    transform: none;
  }
  .nv .navUlOne {
    display: flex;
    flex-flow: column wrap !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    position: absolute;
    top: 10%;
    left: 5%;
    width: 15.625rem !important;
    height: 25rem;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.102);
    transition: all 200ms ease;
    transform: scale(0) translateX(-400px);
    border-radius: 5px;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.102);
  }
  .nv .navUlOne button {
    width: 50% !important;
    flex: 0 1 auto !important;
  }
  .nv .navUlTwo {
    width: 50% !important;
  }
}
/*
@media (width: 980px){
 .hd{

 }
}*/
.software {
  min-height: 12.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
.software .logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}

@media (max-width: 360px) {
  .software {
    text-align: center;
    min-height: 37.5rem;
  }
  .software .logos {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.9 1 auto;
  }
}
.service {
  min-height: 9.375rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

#cards {
  min-height: 31.25rem;
  padding-inline: 1%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem 2rem;
}
#cards .cd {
  border-radius: 0.625rem;
  padding-inline: 5%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: flex end;
  box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.0502);
  transition: all 200ms ease;
}
#cards .cd:hover {
  background: #2C2F2E;
  box-shadow: none;
}
#cards .cd:hover h3, #cards .cd:hover span {
  color: #5BFFCA;
}

@media (max-width: 360px) {
  .service {
    text-align: center;
  }

  #cards {
    min-height: 50rem;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    grid-gap: 1rem 1rem;
  }
}
.saveT {
  min-height: 37.5rem;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
}
.saveT .mn {
  grid-row: 2/8;
  grid-column: 1/4;
  border-radius: 0.625rem;
  background: url("/img_ico/bankMg.jpg") no-repeat border-box center/cover;
  position: relative;
}
.saveT .mn:before {
  display: block;
  position: absolute;
  content: '"';
  top: 20%;
  left: 95%;
  width: 3.125rem;
  height: 3.125rem;
  text-align: center;
  font-size: 2.5rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.102);
}
.saveT .save {
  grid-row: 2/8;
  grid-column: 5/9;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-inline: 4%;
  position: relative;
}
.saveT .save:before {
  display: block;
  position: absolute;
  content: '"';
  top: 1%;
  left: 2%;
  width: 3.125rem;
  height: 3.125rem;
  text-align: center;
  font-size: 2.5rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.102);
}
.saveT .save .getSt {
  min-width: 7.5rem;
  height: 2.5rem;
  color: #2C2F2E;
  border-radius: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.102);
  padding: 4px 3px;
  background: #5BFFCA;
  transition: all 200ms ease;
  cursor: pointer;
}
.saveT .save .getSt:hover {
  color: #5BFFCA;
  background: #2C2F2E;
  border: 1px solid rgba(0, 0, 0, 0.102);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.102);
}

@media (max-width: 360px) {
  .saveT .mn {
    grid-row: 2/9;
    grid-column: 1/4;
  }
  .saveT .mn:before {
    display: none;
  }
  .saveT .save {
    grid-row: 2/9;
    grid-column: 5/9;
    flex-wrap: nowrap !important;
  }
  .saveT .save:before {
    display: none;
  }
}
#forms {
  min-height: 18.75rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-gap: 2rem;
}
#forms .contact {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: ". . . . . ." "a a a a a a" "a a a a a a" "b b b c c c" "b b b c c c";
  grid-gap: 1rem;
}
#forms .contact h1 {
  grid-area: a;
  text-align: center;
}
#forms .contact .ph {
  grid-area: b;
}
#forms .contact .em {
  grid-area: c;
  overflow: auto;
}
#forms .contact div {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.102);
  border-radius: 0.625rem;
  transition: all 200ms ease;
}
#forms .contact div:hover {
  background: #2C2F2E;
  box-shadow: none;
}
#forms .contact div:hover h4, #forms .contact div:hover span {
  color: #5BFFCA;
}
#forms form {
  padding: 1%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0.625rem;
  grid-template-areas: "a a a a b b b b" "a a a a b b b b" "c c c c c c c c" "c c c c c c c c" "d d d d d d d d" "d d d d d d d d" "d d d d d d d d" ". . . . . . e e";
}
#forms form fieldset {
  border: 1px solid transparent;
  padding-inline: 1%;
}
#forms form fieldset:nth-child(1) {
  grid-area: a;
}
#forms form fieldset:nth-child(2) {
  grid-area: b;
}
#forms form fieldset:nth-child(3) {
  grid-area: c;
}
#forms form fieldset:nth-child(4) {
  grid-area: d;
}
#forms form fieldset input, #forms form fieldset textarea {
  width: 100%;
  height: 100%;
  padding: 2px 2% 2px 2%;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.102);
  transition: all 200ms ease;
}
#forms form fieldset input:focus, #forms form fieldset textarea:focus {
  box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.102);
}
#forms form fieldset legend {
  font-weight: bold;
}
#forms form input[type=submit] {
  grid-area: e;
  min-width: initial;
  height: 2.1875rem;
  color: #2C2F2E;
  border-radius: 0.625rem;
  border: 1px solid rgba(0, 0, 0, 0.102);
  padding: 4px 3px;
  background: #5BFFCA;
  transition: all 200ms ease;
  cursor: pointer;
}
#forms form input[type=submit]:hover {
  color: #5BFFCA;
  background: #2C2F2E;
  border: 1px solid rgba(0, 0, 0, 0.102);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.102);
}

@media (max-width: 360px) {
  #forms {
    min-height: 46.875rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }
  #forms .contact div {
    overflow: auto;
  }
}
.ft-wrap {
  padding: 1% 2% 1% 2%;
}

.ft {
  min-height: 15.625rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: url("/img_ico/wave-3.svg") no-repeat border-box center/cover;
  margin-top: 2%;
  border-radius: 0.625rem;
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.102);
}
.ft div {
  flex: 0.1 1 auto;
}
.ft .bl {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  height: max-content;
}
.ft .bl .sc {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 360px) {
  .ft {
    min-height: 40.75rem;
    display: flex;
    flex-flow: column wrap !important;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (width: 740px) {
  .ft {
    min-height: 40.75rem;
    display: flex;
    flex-flow: column wrap !important;
    justify-content: space-evenly;
    align-items: center;
  }
}
/*since everything was written with scss i will be expecting the cascade affecting some declaration so !important will be used often
- dark mode : #393b4a
- col idea: cornsilk
*/
#dark {
  transition: all 200ms ease;
  background: #393b4a;
}
#dark * {
  color: #fff;
}
#dark .hd .intro h1 span {
  color: #5BFFCA;
}
#dark .hd .intro .getSt {
  min-width: 7.5rem;
  height: 2.5rem;
  color: #2C2F2E;
  border-radius: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.102);
  padding: 4px 3px;
  background: #5BFFCA;
  transition: all 200ms ease;
  cursor: pointer;
}
#dark .hd .intro .getSt:hover {
  color: #5BFFCA;
  background: #2C2F2E;
  border: 1px solid rgba(0, 0, 0, 0.102);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.102);
}
#dark .hd .intro-img div {
  background: #393b4a;
}
#dark .nv {
  background: #393b4a;
}
#dark .nv label {
  background: inherit;
}
#dark .nv label span {
  background: #5BFFCA;
}
#dark .nv .navUlOne {
  background: inherit;
}
#dark .nv .log {
  color: #2C2F2E;
}
#dark .nv .log:hover {
  color: currentColor;
}
#dark .mn:before, #dark .save:before {
  color: #5BFFCA;
}
#dark .save .getSt {
  min-width: 7.5rem;
  height: 2.5rem;
  color: #2C2F2E;
  border-radius: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.102);
  padding: 4px 3px;
  background: #5BFFCA;
  transition: all 200ms ease;
  cursor: pointer;
}
#dark .save .getSt:hover {
  color: #5BFFCA;
  background: #2C2F2E;
  border: 1px solid rgba(0, 0, 0, 0.102);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.102);
}
#dark form input, #dark form textarea {
  background: rgba(0, 0, 0, 0.102);
  color: cornsilk;
  border: 1px solid rgba(91, 255, 202, 0.502) !important;
}
#dark form input:hover, #dark form textarea:hover {
  border-color: transparent !important;
}
#dark .ft {
  transition: all 200ms ease;
  box-shadow: 2px 2px 4px 3px rgba(91, 255, 202, 0.502);
}
#dark .ft:hover {
  box-shadow: none;
}
